# Binaries
kraze
!cmd/kraze/
*.exe
*.dll
*.so
*.dylib

# Build directory
build

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Cache directory
.kraze/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# No MD files
*.md
!README.md
